.header {
  display: flex;
  background-color: var(--gray-600);
  justify-content: space-between;
  padding: 10px 29.3px 10px 20px;
  width: 100%;

  .right-side {
    display: flex;
    align-items: center;
    color: var(--gray-100);

    .site-title {
      font-size: 1rem;
      margin-bottom: 0;
    }

    p {
      font-size: 0.75rem;
      margin-bottom: 0;
      margin-left: 20px;
    }
  }
}
