h1.login-title {
  text-align: center;
  font-size: 3rem;
  color: var(--warm-grey);
}

.form-control {
  border: solid 1px var(--gray-200);
}

.password-wrapper {
  margin-bottom: 40px;
}

button {
  width: 100%;
  border-radius: 4px;
}

.register-message {
  color: var(--gray-600);
  margin-bottom: 0;

  strong {
    font-weight: bold;
    color: inherit;
    margin-left: 11px;
    cursor: pointer;
  }
}
