:root {
  --gray-600: #373a3c;
  --gray-500: #55595c;
  --gray-400: #777777;
  --gray-300: #818a91;
  --gray-200: #dddddd;
  --gray-100: #eceeef;

  --blue-sky: #56c0e0;
  --blue-dark: #1c7cd5;
  --gree-tree: #5cb85c;
  --red-warning: #d9534f;
  --orange-fruit: #f0ad4e;

  --shadow-red: #efdfdf;
  --shadow-blue: #acf7e4;
  --shadow-gray: #dcedf6;
  --shadow-yellow: #e2eed8;
}
